<div class="sd-container">
  <h1>Our recommended streaming service for you:</h1>
  <div class="results" data-controller='progress' data-params="<%=params[:results].to_json%>">
    <%# Genres %>
    <h3><%= params[:results][:streaming_service] %></h3>
    <% genres = params[:results][:statistics][:genres].inject(Hash.new(0)) { |total, id| total[id] += 1; total } %>
    <% genres.each do |key, value| %>
      <p><%= key %></p>
      <p><%= value %> times</p>
    <% end %>
    <%# Directors %>
    <% directors = params[:results][:statistics][:directors].inject(Hash.new(0)) { |total, id| total[id] += 1; total } %>
    <% directors.each do |key, value| %>
      <p><%= key %></p>
      <p><%= value %> times</p>
    <% end %>
    <%# Your selected movies %>
    <% movies = params[:results][:movies] %>
    <% movies.each do |movie| %>
      <p><%= Movie.find(movie).title %></p>
    <% end %>
  </div>
  <div class="progress sd-progress">
  </div>
</div>
