<div class="result_page" class=”breakAfter”>

<div class="divMargin" class=”breakAfter”>
<h1>We have found your match</h1>

  <p>Click below to subscribe</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" class="divSpace">
  <ol class="carousel-indicators">

    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Netflix-Logo.png", class: "netflix_logo d-block w-100" ) %>
    </div>
    <div class="carousel-item">
      <%= image_tag("amazon-logo.png", class: "amazon_logo d-block w-100" ) %>
    </div>
    <div class="carousel-item">
      <%= image_tag("disney-logo.png", class: "disneyplus_logo d-block w-100" ) %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class="progress">
  <div class="progress-bar progress-bar-genres" role="progressbar" style="width:40%" id='genres' data-genres-stats="<%=@stats[:genres].to_json%>">
  <%=  %>
    Genres
  </div>
  <div class="progress-bar progress-bar-directors" role="progressbar" style="width:10%" id='directors' data-directors-stats="<%=@stats[:directors].to_json%>">
    Directors
  </div>
  <div class="progress-bar progress-bar-movies" role="progressbar" style="width:20%" id='movies' data-movies-stats="<%=@stats[:movies].to_json%>">
    Movies
  </div>
</div>

<div class="progress">

</div>

<div class='statsbar'>
  <div class='bartitle'><h2>Our recommended streaming service for you:</h2></div>
  <%# Genres %>
  <h3><%= params[:results][:streaming_service] %></h3>
  <div class='genresbar'>
    <% genres = params[:results][:statistics][:genres].inject(Hash.new(0)) { |total, id| total[id] += 1; total } %>
    <% genres.each do |key, value| %>
      <p><%= key %></p>
      <p><%= value %> times</p>
    <% end %>
  </div>
  <%# Directors %>
  <div class='directorsbar'>
    <% directors = params[:results][:statistics][:directors].inject(Hash.new(0)) { |total, id| total[id] += 1; total } %>
    <% directors.each do |key, value| %>
      <p><%= key %></p>
      <p><%= value %> times</p>
    <% end %>
  </div>
  <%# Your selected movies %>
  <div class='moviesbar'>
    <% movies = params[:results][:movies] %>
    <% movies.each do |movie| %>
      <p><%= Movie.find(movie).title %></p>
    <% end %>
  </div>
</div>
