<div class="modal fade" id="exampleModal-<%=movie.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="movie-card d-flex">
          <div class="movie-card_left">
            <img src="<%= movie.poster_url %>"/>
</div>
<div class="movie-card_right">
  <h1><%= movie.title %></h1>
  <div class="movie-card_right__details">
    <ul>
      <li><%= movie.date_released %></li>
      <li><%= movie.genre.gsub(",",", ") %></li>
      <li><i class="fab fa-imdb text-white text-xl-left"></i>                      <%=movie.rating%> / 10</li>
    </ul>
    <div class="movie-card_right__rating">
      <div class="movie-card_right__rating__stars">
        <fieldset class="rating">
          <input id="star10" name="rating" type="radio" value="10">
          <label class="full" for="star10" title="10 stars"></label>
          <input id="star9half" name="rating" type="radio" value="9 and a half">
          <label class="half" for="star9half" title="9.5 stars"></label>
          <input id="star9" name="rating" type="radio" value="9">
          <label class="full" for="star9" title="9 stars"></label>
          <input id="star8half" name="rating" type="radio" value="8 and a half">
          <label class="half" for="star8half" title="8.5 stars"></label>
          <input id="star8" name="rating" type="radio" value="8">
          <label class="full" for="star8" title="8 stars"></label>
          <input id="star7half" name="rating" type="radio" value="7 and a half">
          <label class="half" for="star7half" title="7.5 stars"></label>
          <input id="star7" name="rating" type="radio" value="7">
          <label class="full" for="star7" title="7 stars"></label>
          <input id="star6half" name="rating" type="radio" value="6 and a half">
          <label class="half" for="star6half" title="6.5 stars"></label>
          <input id="star6" name="rating" type="radio" value="6">
          <label class="full" for="star6" title="6 star"></label>
          <input id="star5half" name="rating" type="radio" value="5 and a half">
          <label class="half" for="star5half" title="5.5 stars"></label>
          <input id="star5" name="rating" type="radio" value="5">
          <label class="full" for="star5" title="5 stars"></label>
          <input id="star4half" name="rating" type="radio" value="4 and a half">
          <label class="half" for="star4half" title="4.5 stars"></label>
          <input id="star4" name="rating" type="radio" value="4">
          <label class="full" for="star4" title="4 stars"></label>
          <input id="star3half" name="rating" type="radio" value="3 and a half">
          <label class="half" for="star3half" title="3.5 stars"></label>
          <input id="star3" name="rating" type="radio" value="3">
          <label class="full" for="star3" title="3 stars"></label>
          <input id="star2half" name="rating" type="radio" value="2 and a half">
          <label class="half" for="star2half" title="2.5 stars"></label>
          <input id="star2" name="rating" type="radio" value="2">
          <label class="full" for="star2" title="2 stars"></label>
          <input id="star1half" name="rating" type="radio" value="1 and a half">
          <label class="half" for="star1half" title="1.5 stars"></label>
          <input id="star1" name="rating" type="radio" value="1">
          <label class="full" for="star1" title="1 star"></label>
          <input id="starhalf" name="rating" type="radio" value="half">
          <label class="half" for="starhalf" title="0.5 stars"></label>
        </fieldset>
      </div>
    </div>
    <div class="movie-card_right__review">
      <p><%= movie.description.truncate(300)%></p>
      <a href="https://www.imdb.com/title/<%= movie.imdb_id %>/?ref_=fn_al_tt_1" target="_blank">Read more</a>
    </div>
    <div class="movie-card_right__button">
      <a href="https://www.youtube.com/watch?v=ot6C1ZKyiME" target="_blank"><i class="fas fa-play"></i>WATCH TRAILER</a>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
