<div class="sd-container">
  <div class="homepage-top-section">
    <div class="homepage-title">
      <h1>
        <div class="d-flex">Live
          <div id="rotate"> <strong>streaming</strong></div>
        </div>
        that keeps you <br>
        ahead</h1>
      <h3>Find your perfect match in the Streaming Industry</h3>
      <div class="action-button">
        <%= link_to "Get Started", new_recommendation_movie_path, class: "btn btn-primary"%>
      </div>
    </div>
    <%= image_tag "saly-homepage.png", alt: "streamdream-img", class: 'homepage-illustration' %>
    <div class="next">
      <%= link_to "#homepage-info", data: {controller: "scroll-to"} do %>
        <i class="fas fa-caret-down fa-5x"></i>
      <% end %>
    </div>
  </div>
  <div class="homepage-info" id="homepage-info">
    <div class="homepage-about d-flex justify-content-end" id="homepage-about">
      <div class="homepage-about-us full-vh">
        <h2 id="about">Why use <br>
          streamdream?</h2>
        <div class="card-description">
          <p>Everyone loves movies. Nobody likes buying them. Chances are, you’ve subscribed to at least one new streaming platform this year.
            However, most people subscribe to multiple streaming platforms to gain access to a wider variety.
            In total, we've spent over $67 billion on movies in 2020, almost $45 per household. It's not necessary.
            StreamDream is on a mission to make your streams come true! we mean dreams...
          </p>
        </div>
      </div>
    </div>
    <div class="homepage-service full-vh" id="homepage-service">
      <h2 class="margin-under"id="service">How it works</h2>
      <div class="d-flex justify-content-around">
        <div class="homepage-content">
          <%= image_tag "sally-one.png", alt: "streamdream-img", class: 'homepage-illustration-steps' %>
          <div class="card-description">
            <h3 class="text-center">1. Pick movies</h3>
            <p class="text-center">Choose your favourite movies,
              regardless of how weird the genre.</p>
          </div>
        </div>
        <div class="homepage-content">
          <%= image_tag "sally-two.png", alt: "streamdream-img", class: 'homepage-illustration-steps' %>
          <div class="card-description">
            <h3 class="text-center">2. App configurations</h3>
            <p class="text-center">The app runs computations scanning
              streaming services worldwide to find your optimal match</p>
          </div>
        </div>
        <div class="homepage-content">
          <%= image_tag "sally-three.png", alt: "streamdream-img", class: 'homepage-illustration-steps' %>
          <div class="card-description">
            <h3 class="text-center">3. Enjoy optimized streaming</h3>
            <p class="text-center">Grab some popcorn,
              and enjoy your evening</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <br>
        <br>
        <br>
        <%= link_to "Give it a try", new_recommendation_movie_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
</div>
